// Use https://www.schemecolor.com/matrix-blue.php

$primary-background: #0a0503;
$secondary-background: #8fca5c;
$tertiary-background: #0a050352;
$quaternary-background: #1111118b;

$primary-foreground: #8fca5c;
$secondary-foreground: #d2eabe;
$tertiary-foreground: #e3f2d6;
$quaternary-foreground:#c1e2a5;

$sb-track: #19191a8b;
$sb-thumb: #c1e2a5;